@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  /*==== Colors ====*/
  --body-color: linear-gradient(rgb(171, 241, 253), rgb(223, 117, 200));
  --sidebar-color: rgba(255, 255, 255, 0.6);;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /*==== Transitions ====*/
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--body-color);
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(4, 87, 102), rgb(214, 1, 168));
  clip-path: circle(30% at right 100%);
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(56, 223, 245), rgb(214, 1, 168));
  clip-path: circle(20% at left 50%);
}

h1,
p {
  padding-top: 1rem;
  color: #555;
  font-weight: 400;
}

h1 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

h1 strong {
  font-weight: 600;
  background: linear-gradient(rgb(132, 228, 252), rgb(81, 165, 248));
  padding: 0 0.4rem;
  border-radius: 2rem;
}

p a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(103, 108, 110);
}

button {
  cursor: pointer;
  margin-top: 3rem;
  width: 14rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;

  font-size: 1rem;
  font-weight: 600;

  color: #555;

  background: linear-gradient(rgb(3, 217, 255), rgb(218, 125, 179));
  transition: all 0.3s ease 0s;
}

button:hover {
  box-shadow: 0px 15px 20px rgba(46, 110, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

img {
  width: 15rem;
  height: 15rem;
}

.particle-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.main {
  position: absolute;
  width: 30rem;
  height: 30rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 4;
}

.sidebar .text{
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);

}

.sidebar .image{
  min-width: 3.75rem;
  display: flex;
  align-items: center;
}


.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 18rem;

  padding: 0.7rem 0.8rem;

  background: var(--sidebar-color);
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0 1rem 1rem 0;
  
  backdrop-filter: blur(5px);
}

.sidebar header{
  position: relative;
}

.sidebar .image-text img{
  z-index: 3;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;

}

header.image-text .header-text{
  display: flex;
  flex-direction: column; 
}

.header-text .name{
  display: block;
  font-weight: 600;
}

.header-text .profession{
  margin-top: -2px;
}

.sidebar header .toggle{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
  background: var(--primary-color);
  color: var(--sidebar-color);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
}